/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .wed{
  font-style: italic;
  color:red;
  text-align: center;
}
.head{
  background-color: aquamarine;
  height: 100px;
  width:50%;
  margin-top: 10px;
  text-align: center;
  border-radius: 20px;
  margin-left: 250px;
}
.mid{
  height: 200px;
  width: 50%;
  background-color: blueviolet;
  margin-left: 250px;
}
.left{
  height:200px ;
  width: 25%;
  background-color: rgb(164, 206, 48);
  float: left;
}
.right{
  height:200px;
  width: 25%;
  background-color: red;
  float: right;
}
.foot{
  background-color: aquamarine;
  height: 100px;
  width:50%;
  text-align: center;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 250px;
} */
/* .fetch{
  color :red;
  text-align: center;
}
table ,th ,td{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}
.concept{
background-color: brown;
} */

ul{
  background-color: rgb(148, 88, 98);
  height: 100px;
  margin-top: 0px;
}
li{
  list-style-type: none;
  padding: 20px;
  float: right;
}
